<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1><a href="{{ site.github.url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <hr />
        <nav>
          <ul class="navbar">
            <li class="navbar"><a href="{{ site.github.url }}/Redirector">Redirector</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/portal">Party Portal</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/badge">Badges</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/crown">Crowns</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/campfire">Campfire</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/home">Home</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/fly">Fly</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/int">Interactables</a></li>
            <li class="navbar"><a href="{{ site.github.url }}/about/tphub">Teleport Hub</a></li>
          </ul>
        </nav>
        <hr />

        <!--<section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
        </section>-->
      </div>
    </header>

    <div class="container">
      <section id="main_content" style="text-align:center">

      {{ content }}

      </section>
      <footer>
        <p>This project is maintained by <a href="/">LunarTiger</a></p>
      </footer>
    </div>

<!--    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
-->
  </body>
</html>
